<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--Twitter Settings-->
    <add key="TwitterConsumerKey" value="[TODO: enter consumer key]"/>
    <add key="TwitterConsumerSecret" value="[TODO: enter consumer secret]"/>
    <add key="TwitterAccessToken" value="[TODO: enter access token]"/>
    <add key="TwitterAccessTokenSecret" value="[TODO: enter consumer token secret]"/>

    <!--SQL Azure Connection Settings-->
    <add key="sql.connectionstring" value="[TODO: enter connection string from Azure SQL db]"/>
    <add key="sql.tablename" value="[TODO: enter name of table with below schema]"/>
    <add key="sql.tablecolumns" value="TweetCount,bigint;TweetText,nvarchar(256)" />

    <!--SignalR Settings-->
    <add key="SignalRWebsiteUrl" value="[TODO: enter URL to SignalR powered website]</URL>"/>
    <add key="SignalRHub" value="TwitterHub"/>
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>